@model ThePeopleSearchApplication.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>
    <h4>Details</h4>
    
	<table class="table">
		<tr>
			<td>
				@if (string.IsNullOrEmpty(Model.PictureURL))
				{
					<img src="~/Content/Images/PictureUnavailable.jpg" width="200" alt="Profile Picture" />
				}
				else
				{
					<img src="@Html.DisplayFor(model => model.PictureURL)" width="200" alt="Profile Picture" />
				}
			</td>
			<td>
				<strong>@Html.DisplayNameFor(model => model.Address)</strong><br />
				<span style="white-space: pre-line">@Html.DisplayFor(model => model.Address.FormattedAddress)</span><br />
				<strong>@Html.DisplayNameFor(model => model.Interests)</strong><br />
				@if (string.IsNullOrEmpty(Model.Interests))
				{
					<text>None.</text>
				}
				else
				{
					@Html.DisplayFor(model => model.Interests)<text>.</text>
				}
				<br /><br />
				<strong>Age</strong><br />
				<span style="white-space: pre-line">@Html.DisplayFor(model => model.Age)</span><br />
			</td>
		</tr>
	</table>
	<hr />
</div>
<p>
    @Html.ActionLink("Edit Person", "Edit", new { id = Model.PersonID }) |
    @Html.ActionLink("Start Over", "../Home/Index")
</p>
