@* Response is JSON encoded *@
@model string 

@{
	ViewBag.Title = "Person Search Results";
}

@{ var personList = Json.Decode<List<ThePeopleSearchApplication.Models.Person>>(Model); }
@if (personList != null && personList.Count() > 0)
{
	<h2>Results</h2>
	<table class="table">
		<tr>
			<th width="15%">
				Name
			</th>
			<th>
				Picture
			</th>
			<th>
				Interests
			</th>
			<th width="150px">

			</th>
		</tr>

		@foreach (var item in personList)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ShortName)
				</td>
				<td>
					@if (string.IsNullOrEmpty(item.PictureURL))
					{
						<img src="~/Content/Images/PictureUnavailable.jpg" width="50" alt="Profile Picture" />
					}
					else
					{
						<img src="@Html.DisplayFor(modelItem => item.PictureURL)" width="50" alt="Profile Picture"/>
					}
				</td>
				<td>
					@if (string.IsNullOrEmpty(item.Interests))
					{
						<text>None.</text>
					}
					else
					{
						@Html.DisplayFor(modelItem => item.Interests)<text>.</text>
					}
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.PersonID }) |
					@Html.ActionLink("Details", "Details", new { id = item.PersonID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.PersonID })
				</td>
			</tr>
		}
	</table>
}
else
{
	<h1>Results</h1>
	<h4>Sorry, no people with a matching first or last name were found...</h4>
}